.lista-publicaciones {
    margin-top: 2rem
}

.resultados {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lista-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.lista-search {
    width: 400px;
}

