.tp-card {
    display: block;
    display: -webkit-box;
    width  : 900px;
    max-height : 500px;
    margin : 0 auto;
    line-height       : 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow          : hidden;
    text-overflow     : ellipsis;

}