.app-header {
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.app-header-actions {
    margin-left: auto;
}
.site-layout .site-layout-background {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-text {
    padding-left: 50px;
    padding-top: 15px;
    color: #8c8c8c;
}

.admin-switch {
    margin-left: 10px;
}

.ant-dropdown-link {
    font-size: small;
}
