
.app-header {
    /* position: fixed; */
    /* z-index: 1; */
    width: 100%;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.app-header-actions {
    margin-left: auto;
}
.app-header-logo-link {
    display: inherit;
}
.site-layout {
    margin: 0px 20px 35px;
}
.site-layout .site-layout-background {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.admin-text {
    padding-left: 50px;
    padding-top: 15px;
    color: #8c8c8c;
}

.admin-switch {
    margin-left: 10px;
}

.ant-dropdown-link {
    font-size: small;
    color: white;
    font-weight: bold;
    
}
